@import "./variable.scss";
@import "./icon.scss";
@import "./base.scss";
@import "./reset.scss";
@import "./transition.scss";
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration-line: none;
}
html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}
